# Ignore a specific file


# Ignore all `.log` files
*.PNG
*.html
*.PDF
*.csv
*.pyc
*.pyo
*.pyd
*.vscode
*.joblib

# Ignore all __pycache__ folders
__pycache__/
*/__pycache__/
backend_files/
frontend_files/